a {
  color: #004c6d;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0.35rem;
}

::-webkit-scrollbar-track {
  background: #7b7b7b;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}